.c-pager {
    &__pagination {
        text-align: center;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }
    &__item {
        display: inline;
        margin: 0 2px;
        padding: 0;
        display: inline-block;
        background: $bg-color-secondary;
        width: 50px;
        height: 50px;
        text-align: center;
        position: relative;
        vertical-align: middle;
        &--is-disabled {
            display: none;
        }
    }
    &__link {
        vertical-align: middle;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        display: table;
        color: $font-color-white;
        text-decoration: none;
        &:hover,
        &.c-pager--active {
            color: $font-color-white;
            background: $bg-color-footer;
            // タブレットサイズ以下ではホバー時・クリック時背景色を変えない
            @include mq(md) {
                background: $bg-color-secondary;
            }
        }
    }
    &__mark {
        display: table-cell;
        vertical-align: middle;
        &--is-disabled {
            display: none;
        }
    }
}

// mdサイズ以下は前へ/次へのボタンのみ表示
@include mq($breakpoint: md) {
    .c-pager {
        &__pagination li {
            display: none;
        }
        .c-pager--pre {
            display: inline-block;
            width: 40%;
            height: 50px;
            text-align: center;
            &--is-disabled {
                display: none;
            }
        }
        .c-pager--next {
            display: inline-block;
            width: 40%;
            height: 50px;
            text-align: center;
            &--is-disabled {
                display: none;
            }
        }
        .c-pager--pre span::after {
            content: "　前のページ";
        }
        .c-pager--next span::before {
            content: "次のページ　";
        }
    }
}
