.c-tag {
    &__require {
        color: $font-color-white;
        font-size: smaller;
        background: $tag-color-require;
        padding: 1px 5px;
        margin: 0 0.5rem 0 0;
        border-radius: 5px;
    }

    &__optional {
        color: $font-color-white;
        font-size: smaller;
        background: $tag-color-optional;
        padding: 1px 5px;
        border-radius: 5px;
    }
}
