.p-about {
    margin: 80px 0 0 0;
    &__wrapper {
        text-align: center;
        margin: 0 auto;
    }
    &__text {
        display: inline-block;
        padding-bottom: 1rem;
    }
    &__accent {
        color: $font-color-accent;
    }
}

.p-about2 {
    margin: 0 auto;
    margin-top: 40px;
    &__head {
        padding-top: 30px;
        @include mq(dw) {
            padding-top: 60px;
        }
    }
    &__wrapper {
        min-height: 300px;
        background-color: $bg-color-secondary;
        margin: 0 auto;
    }
    &__text-wrapper {
        padding-top: 30px;
        width: 60%;
        text-align: left;
        margin: 0 auto;
        @include mq(md) {
            width: 70%;
            padding-bottom: 2rem;
        }
        @include mq(sm) {
            width: 85%;
            padding-bottom: 2rem;
        }
        @include mq(dw) {
            width: 50%;
        }
    }
    &__text {
        line-height: normal;
    }
}

.p-about3 {
    margin: 0 auto;
    width: 100%;
    min-height: 400px;
    &__title-wrapper {
        padding: 30px 0;
        @include mq(dw) {
            padding: 80px 0;
        }
    }
    &__title--small {
        text-align: center;
        font-size: 10px;
        padding-top: 4px;
    }
    &__wrapper {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $border-color;
        margin: 0 auto;
        @include mq(dw) {
            width: 60%;
        }
    }
    &__text-container {
        padding: 2rem 1rem;
        line-height: 1.5;
    }
    &__head {
        padding-bottom: 1rem;
    }
    &__img-container {
        min-width: 40%;
        padding: 1rem;
        @include mq(md) {
            display: none;
        }
    }
}
