// ハンバーガーアイコン

.p-hamburger {
    &__btn {
        position: fixed;
        top: 0;
        right: 0;
        width: 70px;
        height: 72px;
        cursor: pointer;
        z-index: 50;
    }
    &__line {
        position: absolute;
        top: 0;
        left: 20px;
        width: 32px;
        height: 2px;
        background: #333333;
        text-align: center;
    }
    &__line01 {
        top: 16px;
        transition: 0.4s ease;
    }
    &__line02 {
        top: 26px;
        transition: 0.4s ease;
    }
    &__line03 {
        top: 36px;
        transition: 0.4s ease;
    }
}
// アイコンを押した時の動き
.p-hamburger--active {
    &__line01 {
        transform: translateY(10px) rotate(-45deg);
        transition: 0.4s ease;
    }
    &__line02 {
        transition: 0.4s ease;
        opacity: 0;
    }
    &__line03 {
        transform: translateY(-10px) rotate(45deg);
        transition: 0.4s ease;
    }
}
