// ハンバーガーアイコンを押した時のメニュー

.p-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $bg-color-primary;
    opacity: 0.9;
    &__item {
        width: 100%;
        height: auto;
        padding: 0.5em 1em;
        text-align: center;
        color: $font-color-default;
        box-sizing: border-box;
    }
}

.p-menu {
    // アニメーション前のメニューの状態
    transform: translateX(100vw);
    transition: all 0.3s linear;
    // アニメーション後のメニューの状態
    &.is-active {
        transform: translateX(0);
    }
}
