.p-product-detail {
    width: 90%;
    padding-top: 100px;
    margin: 0 auto;
    margin-bottom: 60px;
    // 全体的にfontsize:smallerを適用
    p {
        font-size: smaller;
    }
    @include mq(smtomd) {
        width: 80%;
        margin: 0 auto;
        padding-left: 0;
    }
    @include mq(dw) {
        width: 70%;
        padding-top: 160px;
    }
    &__title {
        text-align: left;
        padding-bottom: 6px;
        border-bottom: 8px solid $border-color;
        margin-bottom: 1rem;
    }
    &__wrapper {
        width: 100%;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        margin-bottom: 60px;
        @include mq(md) {
            flex-flow: column;
            margin-bottom: 30px;
        }
    }
    &__image-container {
        width: 50%;
        min-height: 300px;
        max-height: 350px;
        @include mq(sm) {
            width: 100%;
            min-height: 0;
        }
        @include mq(smtomd) {
            width: 100%;
            margin: 0 auto;
            min-height: 0;
        }
        @include mq(dw) {
            width: 50%;
            min-height: 400px;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__text-container {
        width: 50%;
        padding-left: 1.5rem;
        word-wrap: break-word;
        @include mq(sm) {
            width: 100%;
            margin: 0 auto;
            padding-left: 0;
        }
        @include mq(smtomd) {
            width: 100%;
            margin: 0 auto;
            padding-left: 0;
        }
    }
    &__description {
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 20px;
        word-wrap: break-word;
        @include mq(sm) {
            margin-top: 20px;
        }
        @include mq(smtomd) {
            margin-top: 30px;
        }
    }
    &__price {
        font-weight: bold;
        border-top: 2px solid $border-color;
        border-bottom: 2px solid $border-color;
        padding: 10px 0;
        margin-bottom: 20px;
    }
    &__details {
        margin-bottom: 20px;
    }
    &__btn-container {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }
    &__attention {
        font-size: small;
    }
}
