.p-questions {
    margin-top: 100px;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    @include mq(sm) {
        width: 90%;
    }
    @include mq(dw) {
        width: 60%;
        margin-top: 60px;
    }
    &__title {
        margin: 40px 0 50px 0;
    }
    &__question {
        cursor: pointer;
        background-color: $bg-color-secondary;
        padding: 1rem 1rem;
        margin-bottom: 1px;
    }
    &__answer {
        cursor: pointer;
        background-color: $bg-color-teritary;
        padding: 1rem 2rem;
    }
    &__answer-text {
        letter-spacing: 0;
    }
    &__answer-accent {
        color: $font-color-accent;
    }
}
