.p-review {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    @include mq(sm) {
        width: 90%;
    }
    @include mq(dw) {
        width: 60%;
        margin-top: 80px;
    }
    &__text {
        letter-spacing: 0;
        line-height: 1.2;
    }
    &__title {
        margin-bottom: 40px;
    }
    &__img {
        width: 80px;
        height: 80px;
    }
}
