@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

#app {
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  width: 100vw;
  color: #333;
  font-family: "Noto Sans JP", "sans-serif";
  box-sizing: border-box;
}

p,
a {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  letter-spacing: 0.2rem;
  line-height: 1.5;
}

@media screen and (max-width: 414px) {
  p,
  a {
    font-size: 14px;
    letter-spacing: 0.1rem;
  }
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 414px) {
  h1 {
    font-size: 18px;
  }
}

@media screen and (min-width: 415px) and (max-width: 1200px) {
  h1 {
    font-size: 24px;
  }
}

@media screen and (min-width: 1365px) {
  h1 {
    font-size: 80px;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 414px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 414px) {
  h3 {
    font-size: 16px;
  }
}

input,
textarea,
select,
a,
button {
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.l-header {
  width: 100vw;
  height: 100px;
  background-color: #fff;
  position: fixed;
  z-index: 110;
}

@media screen and (max-width: 768px) {
  .l-header {
    height: 60px;
  }
}

.l-header__wrapper {
  display: flex;
  justify-content: space-between;
  line-height: 100px;
}

@media screen and (max-width: 768px) {
  .l-header__wrapper {
    line-height: 60px;
  }
}

.l-header__img-container {
  width: 200px;
  height: 100px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .l-header__img-container {
    width: 180px;
    height: 60px;
    padding: 0 0.5rem;
  }
}

.l-header__img-container img {
  width: 100%;
  height: 100%;
}

.l-header__menu {
  margin-right: 1.5rem;
}

@media screen and (max-width: 768px) {
  .l-header__menu {
    display: none;
  }
}

@media screen and (min-width: 1365px) {
  .l-header__menu {
    font-size: 28px;
  }
}

.l-header__menu span {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .l-header__menu span {
    display: none;
  }
}

.l-header__menu li {
  padding: 0 1rem;
  display: inline-block;
}

.l-header__menu li a {
  position: relative;
  font-weight: bold;
}

.l-header__menu li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.l-header__menu li a:hover::after {
  transform: scale(1, 1);
}

.l-main {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  .l-main {
    padding-top: 60px;
  }
}

.l-main__main-visual {
  position: relative;
}

.l-main__main-visual img {
  width: 100vw;
  height: auto;
  min-height: 300px;
  opacity: 0.8;
}

.l-main__slogan {
  width: 100%;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.l-main__slogan h1 {
  opacity: 0.8;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 414px) {
  .l-main__slogan h1 {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 1365px) {
  .l-main__slogan h1 {
    padding-bottom: 2.5rem;
  }
}

.l-main__lower {
  width: 100%;
  display: inline-block;
  padding: 50px 0;
  text-align: center;
}

.l-main__lower h3 {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}

.l-main__lower h3:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: "";
  border-radius: 3px;
  background: #c2dddb;
}

.l-footer {
  width: 100vw;
  height: 30px;
  background-color: #586d6c;
  text-align: center;
  line-height: 1.5;
}

.c-btn__primary {
  background-color: #52d6d3;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

@media screen and (max-width: 414px) {
  .c-btn__primary {
    font-size: small;
  }
}

.c-btn__primary--big {
  text-align: center;
  padding: 10px 20px;
}

.c-btn__primary:hover {
  opacity: 0.8;
  transition: 1s;
}

.c-btn__danger {
  text-align: center;
  background-color: #f44336;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
  line-height: middle;
}

.c-btn__danger:hover {
  opacity: 0.8;
  transition: 1s;
}

.c-btn__share {
  display: inline-block;
  font-weight: bold;
  padding: 6px 10px;
  color: #fff;
  border-radius: 5px;
  line-height: middle;
}

.c-btn__share i {
  font-size: 16px;
}

.c-btn__share--twitter {
  background-color: #1da1f2;
}

.c-btn__share:hover {
  opacity: 0.6;
  transition: 1s;
  color: #fff;
}

.c-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .c-card {
    display: flex;
    flex-direction: column;
  }
}

.c-card__item {
  width: 25%;
  border: 1px solid #cdd6dd;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .c-card__item {
    width: 90%;
  }
}

.c-form {
  padding-top: 100px;
  padding-bottom: 60px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 414px) {
  .c-form {
    padding-top: 80px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1365px) {
  .c-form {
    padding-top: 120px;
    padding-bottom: 0;
  }
}

.c-form__item-wrapper {
  display: flex;
  width: 50%;
  margin: 0 auto;
  flex-direction: column;
  border: 1px solid #cdd6dd;
  border-radius: 5px;
  padding: 1.5rem 1rem;
}

@media screen and (max-width: 768px) {
  .c-form__item-wrapper {
    width: 70%;
  }
}

.c-form__item-wrapper input[type=text],
.c-form__item-wrapper input[type=email],
.c-form__item-wrapper input[type=password],
.c-form__item-wrapper input[type=tel],
.c-form__item-wrapper input[type=number],
.c-form__item-wrapper input[type=datetime-local] {
  width: 100%;
  border: 1px solid #cdd6dd;
  padding: 10px 0px;
  border-radius: 5px;
  margin-bottom: 0.2rem;
}

.c-form__item-wrapper input[type=file] {
  display: none;
}

.c-form__item-wrapper textarea {
  width: 100%;
  border: 1px solid #cdd6dd;
  padding: 5px 0px;
  border-radius: 5px;
  min-height: 100px;
  resize: vertical;
  margin-bottom: 1rem;
}

.c-form__item-wrapper select {
  width: 100%;
  border: 1px solid #cdd6dd;
  padding: 10px 0px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.c-form__control--file {
  display: flex;
  cursor: pointer;
  height: 50px;
  border: 1px solid #cdd6dd;
  padding: 15px 0px;
  border-radius: 5px;
  align-items: center;
}

.c-form__control--file p {
  margin: 0 auto;
  cursor: pointer;
}

.c-form__title {
  padding-bottom: 40px;
}

.c-form__item {
  width: 100%;
  margin-bottom: 1rem;
}

.c-form__label {
  display: block;
  padding-bottom: 1rem;
  font-size: 16px;
  font-weight: bold;
}

.c-form__label--file {
  display: inline-block;
  padding-bottom: 1rem;
}

.c-form__preview {
  margin-bottom: 30px;
}

.c-form__preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-form__err-msg {
  padding-top: 6px;
  color: #f44336;
}

.c-form__remember-me {
  text-align: center;
  padding-bottom: 1rem;
}

.c-tag__require {
  color: #fff;
  font-size: smaller;
  background: #fd5050;
  padding: 1px 5px;
  margin: 0 0.5rem 0 0;
  border-radius: 5px;
}

.c-tag__optional {
  color: #fff;
  font-size: smaller;
  background: grey;
  padding: 1px 5px;
  border-radius: 5px;
}

.c-alert {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
}

.c-alert__success {
  display: block;
  padding: 10px;
  background: #c2dddb;
}

.c-link__underline {
  color: #387c79;
}

.c-link__underline:hover {
  padding-bottom: 2px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.c-home {
  width: 100vw;
  padding-top: 100px;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 1365px) {
  .c-home {
    width: 70%;
  }
}

.c-home__title {
  padding-top: 30px;
  margin-bottom: 60px;
}

@media screen and (max-width: 414px) {
  .c-home__title {
    padding-top: 1rem;
  }
}

.c-home__menu {
  margin-bottom: 20px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}

.c-home__menu-item {
  margin: 0 0.5rem 0.5rem 0;
  padding: 5px 8px;
  border: 1px solid #cdd6dd;
  border-radius: 4px;
}

.c-home__menu-item:hover {
  background-color: #cdd6dd;
  color: #fff;
}

.c-pager__pagination {
  text-align: center;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.c-pager__pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  background: #c2dddb;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.c-pager__pagination li a {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: #fff;
  text-decoration: none;
}

.c-pager__pagination li a span {
  display: table-cell;
  vertical-align: middle;
}

.c-pager__pagination li a:hover,
.c-pager__pagination li a.c-pager--active {
  color: #fff;
  background: #586d6c;
}

@media screen and (max-width: 768px) {
  .c-pager__pagination li {
    display: none;
  }

  .c-pager .c-pager--pre,
  .c-pager .c-pager--next {
    display: inline-block;
    width: 40%;
    height: 50px;
    text-align: center;
  }

  .c-pager .c-pager--pre a,
  .c-pager .c-pager--next a {
    width: 100%;
    text-align: center;
  }

  .c-pager .c-pager--pre span::after {
    content: "\3000\524D\306E\30DA\30FC\30B8";
  }

  .c-pager .c-pager--next span::before {
    content: "\6B21\306E\30DA\30FC\30B8\3000";
  }
}

.c-error-page {
  width: 90%;
  height: 100vh;
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;
}

.c-error-page__title {
  margin: 30vh auto 0;
  transform: translateY(-50%);
  padding-bottom: 0.5rem;
}

.c-error-page__message {
  padding-bottom: 1rem;
}

.c-mask {
  z-index: 130;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-about {
  margin: 80px 0 0 0;
}

.p-about-item {
  text-align: center;
  margin: 0 auto;
}

.p-about-item p {
  display: inline-block;
  padding-bottom: 1rem;
}

.p-about-item span {
  color: #387c79;
}

.p-about2 {
  margin: 0 auto;
  margin-top: 40px;
}

.p-about2 h2 {
  padding-top: 30px;
}

.p-about2__wrapper {
  min-height: 300px;
  background-color: #c2dddb;
  margin: 0 auto;
}

.p-about2__text {
  padding-top: 30px;
  width: 60%;
  text-align: left;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .p-about2__text {
    width: 70%;
  }
}

@media screen and (max-width: 414px) {
  .p-about2__text {
    width: 85%;
    padding-bottom: 2rem;
  }
}

.p-about2__text p {
  line-height: normal;
}

.p-about3 {
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
}

.p-about3__title {
  padding: 30px 0;
}

.p-about3__title p {
  text-align: center;
  font-size: 10px;
  padding-top: 4px;
}

.p-about3__wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cdd6dd;
  margin: 0 auto;
}

.p-about3__text-container {
  padding: 2rem 1rem;
  line-height: 1.5;
}

.p-about3__text-container h3 {
  padding-bottom: 1rem;
}

.p-about3__img-container {
  min-width: 40%;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .p-about3__img-container {
    display: none;
  }
}

/*----------------------------
* メニュー本体
*----------------------------*/

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  opacity: 0.9;
}

.menu__item {
  width: 100%;
  height: auto;
  padding: 0.5em 1em;
  text-align: center;
  color: #333;
  box-sizing: border-box;
}

/* アニメーション前のメニューの状態 */

.menu {
  transform: translateX(100vw);
  transition: all 0.3s linear;
}

/* アニメーション後のメニューの状態 */

.menu.is-active {
  transform: translateX(0);
}

/*ボタン*/

.hamburger_btn {
  position: fixed;
  /*常に最上部に表示したいので固定*/
  top: 0;
  right: 0;
  width: 70px;
  height: 72px;
  cursor: pointer;
  z-index: 50;
}

.hamburger_btn .line {
  position: absolute;
  top: 0;
  left: 20px;
  width: 32px;
  height: 2px;
  background: #333333;
  text-align: center;
}

.hamburger_btn .line_01 {
  top: 16px;
  transition: 0.4s ease;
}

.hamburger_btn .line_02 {
  top: 26px;
  transition: 0.4s ease;
}

.hamburger_btn .line_03 {
  top: 36px;
  transition: 0.4s ease;
}

.btn_line01 {
  transform: translateY(10px) rotate(-45deg);
  transition: 0.4s ease;
}

.btn_line02 {
  transition: 0.4s ease;
  opacity: 0;
}

.btn_line03 {
  transform: translateY(-10px) rotate(45deg);
  transition: 0.4s ease;
}

.p-questions {
  margin-top: 100px;
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.p-questions__title {
  margin: 40px 0 50px 0;
}

.p-questions__question {
  background-color: #c2dddb;
  padding: 1rem 1rem;
  margin-bottom: 1px;
}

.p-questions__question i {
  float: right;
  padding-right: 6px;
}

.p-questions__answer {
  background-color: #a8cecc;
  padding: 1rem 2rem;
}

.p-questions__answer span {
  color: #387c79;
}

.p-questions__answer p {
  letter-spacing: 0;
}

.p-review {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

@media screen and (min-width: 1365px) {
  .p-review {
    width: 60%;
  }
}

.p-review p {
  letter-spacing: 0;
  line-height: 1.2;
}

@media screen and (max-width: 414px) {
  .p-review {
    width: 90%;
  }
}

.p-review h3 {
  margin-bottom: 40px;
}

.p-review__img {
  width: 80px;
  height: 80px;
}

.p-review__text {
  line-height: 1.2;
}

.p-review__person {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  float: right;
}

.p-review__person p {
  padding-bottom: 1rem;
  padding-right: 0.5rem;
}

.p-register-login {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}

.p-register-login__title {
  margin: 30px 0;
  font-weight: bold;
  text-align: center;
}

.p-register-login__container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #cdd6dd;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .p-register-login__container {
    width: 80%;
  }
}

.p-register-login__divider {
  display: block;
  margin-left: 100px;
  width: 5px;
  height: 150px;
  background-color: brown;
}

.p-register-login__item {
  cursor: pointer;
  width: 48%;
}

.p-register-login__img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.p-register-login__btn {
  text-align: center;
}

.p-register-login__url-box a {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}

.p-product-list {
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1365px) {
  .p-product-list {
    width: 70%;
  }
}

.p-product-list__wrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .p-product-list__wrapper {
    padding-top: 20px;
    justify-content: center;
    flex-flow: column;
  }
}

.p-product-list__main {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .p-product-list__main {
    width: 100%;
  }
}

.p-product-list__filter {
  background-color: #c2dddb;
  border-radius: 4px;
  width: 100%;
  padding: 20px 0px;
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .p-product-list__filter {
    display: inline-block;
  }
}

.p-product-list__select {
  margin-top: 1rem;
  padding: 8px;
  cursor: pointer;
  background-color: #fff;
}

.p-product-list__select-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 20px;
  background-color: #586d6c;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .p-product-list__select-button {
    margin: 20px;
  }
}

.p-product-list__list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
}

.p-product-list__list-container:after {
  content: "";
  width: 31%;
  padding-bottom: 30px;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}

.p-product-list__list-item {
  width: 31%;
  padding-bottom: 30px;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}

.p-product-list__img-box {
  width: 100%;
  height: 220px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .p-product-list__img-box {
    width: 100%;
    height: 120px;
  }
}

@media screen and (min-width: 1365px) {
  .p-product-list__img-box {
    width: 100%;
    height: 300px;
  }
}

.p-product-list__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-product-list__img-box img:hover {
  opacity: 0.8;
  transition: 1s;
}

.p-product-list__img-box--is-sold {
  width: 100%;
  height: 220px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .p-product-list__img-box--is-sold {
    width: 100%;
    height: 120px;
  }
}

@media screen and (min-width: 1365px) {
  .p-product-list__img-box--is-sold {
    width: 100%;
    height: 300px;
  }
}

.p-product-list__img-box--is-sold::before {
  content: "";
  top: 0;
  right: 0;
  border-bottom: 4em solid transparent;
  border-right: 4em solid #c12748;
  position: absolute;
  z-index: 100;
}

.p-product-list__img-box--is-sold::after {
  content: "\58F2\308A\5207\308C";
  display: block;
  top: 16px;
  transform: rotate(45deg);
  color: #fff;
  right: -10px;
  position: absolute;
  z-index: 101;
  font-size: small;
}

.p-product-list__img-box--is-sold img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-product-list__img-box--is-sold img:hover {
  opacity: 0.8;
  transition: 1s;
}

.p-product-list__product-link {
  width: 100%;
  padding: 10px 0px;
  line-height: normal;
}

.p-product-list__product-link p {
  padding-top: 10px;
}

.p-product-list__product-link:hover img {
  opacity: 0.9;
  transition: 1s;
}

.p-product-list__original-price {
  color: red;
  font-size: smaller;
}

.p-product-list__price {
  padding-top: 0.5rem;
  font-size: smaller;
  font-weight: bold;
  padding-left: 1rem;
}

.p-product-list__button-box {
  margin-top: 0.5rem;
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  font-size: small;
}

.p-product-list__button-box--detail {
  border-radius: 4px;
  background-color: #52d6d3;
  padding: 0.1rem 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.p-product-list__button-box--detail:hover {
  opacity: 0.8;
}

.p-product-list__button-box--edit {
  border-radius: 4px;
  background-color: #a8cecc;
  padding: 0.1rem 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.p-product-list__button-box--edit:hover {
  opacity: 0.8;
}

.p-product-list__button-box--cancel {
  border-radius: 4px;
  background-color: #f44336;
  padding: 0.1rem 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  color: #fff;
}

.p-product-list__button-box--cancel:hover {
  opacity: 0.8;
}

.p-product-list__button {
  cursor: pointer;
  display: block;
  padding: 16px 0px;
  border: 1px solid #a8cecc;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 60px;
}

.p-product-list__button:hover {
  background-color: #a8cecc;
}

.p-product-list__title {
  padding: 20px 0;
  cursor: pointer;
}

.p-product-list__icon {
  font-size: 1.5rem;
  color: grey;
  vertical-align: -5%;
}

.p-product-list__name {
  padding-bottom: 6px;
}

.p-product-list__menu {
  display: flex;
  margin-bottom: 1.5rem;
}

.p-product-list__menu-title {
  display: inline-block;
  margin-right: 1rem;
}

.p-product-detail {
  width: 90%;
  padding-top: 100px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.p-product-detail__title {
  text-align: left;
  padding-bottom: 6px;
  border-bottom: 8px solid #cdd6dd;
  margin-bottom: 1rem;
}

.p-product-detail__wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 414px) {
  .p-product-detail__wrapper {
    flex-flow: column;
    margin-bottom: 30px;
  }
}

.p-product-detail__image-container {
  width: 50%;
  min-height: 300px;
  max-height: 350px;
}

@media screen and (max-width: 414px) {
  .p-product-detail__image-container {
    width: 100%;
    min-height: 0;
  }
}

.p-product-detail__image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-product-detail__text-container {
  width: 50%;
  padding-left: 1.5rem;
}

@media screen and (max-width: 414px) {
  .p-product-detail__text-container {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
  }
}

.p-product-detail__description {
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media screen and (max-width: 414px) {
  .p-product-detail__description {
    margin-top: 20px;
  }
}

.p-product-detail__price {
  font-weight: bold;
  border-top: 2px solid #cdd6dd;
  border-bottom: 2px solid #cdd6dd;
  padding: 10px 0;
  margin-bottom: 20px;
}

.p-product-detail__details {
  margin-bottom: 20px;
}

.p-product-detail p {
  font-size: smaller;
}

.p-product-detail__btn-container {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.p-product-detail__btn-container p {
  font-size: small;
}

.u-mb__s {
  margin-bottom: 1rem;
}

.u-mb__m {
  margin-bottom: 2rem;
}

.u-mb__l {
  margin-bottom: 3rem;
}

.u-pb__s {
  padding-bottom: 1rem;
}

.u-pb__m {
  padding-bottom: 2rem;
}

.u-pt__s {
  padding-top: 1rem;
}

.u-align__center {
  text-align: center;
}

